.portcard {
  border: 2px solid var(--secondary);
  transition: all 0.3s ease-in-out;
}

.portcard:hover {
  border: 2px solid var(--primary);
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 550px) {
  .portcard {
    width: 200px;
    height: 300px;
  }
}

@media screen and (max-width: 450px) {
  .portcard {
    width: 100%; /* Reduce width as viewport width decreases */
    height: calc(100vw + 24px); /* Reduce height as viewport width decreases */
  }
}
