@import "tailwindcss";

@media (prefers-color-scheme: light) {
  :root {
    --text: #0b1419;
    --background: #ecf3f9;
    --primary: #1b5579;
    --secondary: #65b8ec;
    --accent: #0b9bf4;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #e6eff4;
    --background: #060d12;
    --primary: #84bfe4;
    --secondary: #136599;
    --accent: #0d9af3;
  }
}

@theme {
  --color-text: var(--text);
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
}

body {
  background: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}
