@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-futura: "FuturaPTBook", sans-serif;
    --font-grace: "Ethnocentric", sans-serif;
    --text: #0f181a;
    --background: #fcfdfd;
    --primary: #14d7e1;
    --secondary: #9fd5d6;
    --accent: #7ecace;
  }
  .dark {
    --font-futura: "FuturaPTBook", sans-serif;
    --font-grace: "Ethnocentric", sans-serif;
    --text: #e6eff0;
    --background: #020303;
    --primary: #1ee1eb;
    --secondary: #295f60;
    --accent: #317d81;
  }
}

@font-face {
  font-family: "FuturaPTBook";
  src: url("/fonts/FuturaPTBook.otf");
}

body {
  font-family: FuturaPTBook;
}

*::selection{
  background-color: var(--secondary);
}

.font-grace {
  font-family: var(--font-grace);
}
